<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        {% block stylesheets %}


        {% endblock %}
    </head>
    <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" >
        <a class="nav-link" href={{ path('category.list') }}>List Category</a>
      </li>


      <li class="nav-item active">
        <a class="nav-link" href={{ path('person.list') }}>List Person </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href={{ path('notice.list') }}>List notice</a>
      </li>

     
  

    </ul>

    <form method="post" class="form-inline my-2 my-lg-0" action="{{ path('person.search')}}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    
  </div>
</nav>



<div class="container">{% block body %}{% endblock %}</div>
        


        {% block javascripts %}{% endblock %}
    </body>
</html>
